body {
  background-color:blanchedalmond;
  border:solid black 2px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h3{
    color: rgb(255, 153, 0);
    text-align: center;
    text-shadow: 2px 2px 4px ;
}